<div class="left" id="comments">

    <div id="display-comments" class="left"></div>
    {{!-- <div>
        <a href="/">
            <img src="./images/arrow.png" alt="go back" id="go-back">
        </a>

    </div> --}}

    <form>
        <div class="card-header">
            <h3>Leave your comment here</h3>
            <div class="bottom-margin ">
                <input type="text" placeholder="Type in your name" id="name" class="input-fields">
            </div>

            <div class="bottom-margin ">
                <input type="text" placeholder="Create username" id="username" class="input-fields">
            </div>

            <div>
                <textarea placeholder="Start typing..." id="comment" class="input-fields"></textarea>
            </div>
            <button class="btn btn-dark" type="submit" id="submit">Submit</button>
            <a href="/">
                <button class="btn btn-dark" type="button">Go Back</button>
            </a>
        </div>
    </form>
</div>

<!--jQuery-->
<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
    crossorigin="anonymous"></script>

<!-- JavaScript-->
<script src="./java.js"></script>